<!DOCTYPE html>
<html>
  <head>
    <title> CREATE </title>
  </head>
  <body>

    <form method="POST" action="/home">
      <input type="submit" value="HOME">
      <br>
      <br>
      <br>
    </form>
    
    <form method="POST" action="/home">
      Title:
      <br>
      <input type="text" name="title">
      <br>
      <br>
      First Section:
      <br>
      <textarea rows="5" cols="80" name="section">
      </textarea>
      <br>
      <br>
      <input type="submit" value="SUBMIT">
    </form>
    
  </body>
</html>
