<!DOCTYPE html>
<html>
  <head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title> CREATE </title>
  </head>
  <body>

    <form method="POST" action="/home">
      <input type="submit" class="button special" value="HOME">
      <br>
      <br>
      <br>
    </form>
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<!--
				<div class="image fit">
					<img "{{url_for('static', filename='styles/images/pic01.jpg')}}" alt="" />
				</div>
					-->
				<div class="content">
					<form method="POST" action="/home">
						<header class="align-center">
							<h2>New Story</h2>
							<p>
								<b>Title: </b>
								<br>
								<input type="text" name="title">
							</p>
						</header>
						<hr />
						<b>First Section: </b>
				        <br>
				        <textarea rows="5" cols="80" name="section">
				        </textarea>
				        <br>
				        <br>
				        <input type="submit" value="SUBMIT">
					</form>
				</div>
			</div>
		</div>
	</section>
  </body>
</html>
