<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<title>Discover</title>
</head>
<body>
	<form action="/home" method="POST">
		<input type="submit" class="button special" value="Home">
	</form>
	<br><br><br>
	<div class="table-wrapper">
		<table border="1">
		{% for story in u %}
			<tr><td>
				<h4>{{ u[story][0] }}</h4>
				<p>{{ u[story][1] }}</p>
				<form method="POST" action="/edit">
				  <input type="submit" value="Go"  name= {{int(u[story][2])}}  >
				  <p>{{u[story][2]}}</p>
				</form>
			</td></tr>
		{% endfor %}
		</table>
	</div>
</body>
</html>
