<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<table>
		<tr>
			<td>
				<form action="/new">
					<input type="submit" value="Create New">
				</form>
			</td>
			<td>
				<form action="/discover">
					<input type="submit" value="Discover">
				</form>
			</td>
			<td>
				<form action="/logout">
					<input type="submit" value="Logout">
				</form>
			</td>
		</tr>
	</table>
	<br><br><br>
	<table>
	<!--
	{% for story in contributed %}
		<tr><td>
			<h4>{{ story.title }}</h4>
			<p>{{ story.text.numsections }}</p>
		</td></tr>
		-->
	</table>
</body>
</html>
