<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <title>Login</title>
</head>

<body>
  <center>
    {% set messages = get_flashed_messages() %}
    {% for i in messages %}
    {{i}}
    {% endfor %}
  
  <h1>Enter username and password</h1>
  <form method="POST" action="/home">
	<div class="12u$">
		<div class="select-wrapper">
		    Username:
		    <input type="text" name="username">
		    <br>
		    Password:
		    <input type="password" name="password">
		    <br>
		    <input type="submit" value="Login">
		</div>
	</div>
  </form>
  <br>
  <form method="POST" action="/register">
  	<div class="12u$">
  		<div class="select-wrapper">
			Username:
			<input type="text" name="username">
			<br>
			Password:
			<input type="password" name="password">
			<br>
			<input type="submit" value="Register">
  		</div>
  	</div>
  </form>
</body>
</html>

