<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>

<body>
  <center>
  <!--{% set messages = get_flashed_messages() %}
  {{message[0]}}-->
  <h1>Enter username and password</h1>
  <form method="POST" action="/home">
    Username:
    <input type="text" name="username">
    <br>
    Password:
    <input type="password" name="password">
    <br>
    <input type="submit" value="Login">
  </form>
  <br>
  <form method="POST" action="/register">
      Username:
      <input type="text" name="username">
      <br>
      Password:
      <input type="password" name="password">
      <br>
<input type="submit" value="Register">
</body>
</html>

