<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  <title>Login</title>
</head>

<body>
  <center>
    {% set messages = get_flashed_messages() %}
    {% for i in messages %}
    {{i}}
    {% endfor %}
  
  <h1>Enter username and password</h1>
  <form method="POST" action="/home">
	<div class="12u$">
		<div class="select-wrapper">
		    Username:
		    <input type="text" name="username">
		    <br>
		    Password:
		    <input type="password" name="password">
		    <br>
		    <input type="submit" value="Login">
		</div>
	</div>
  </form>
  <br>
  <form method="POST" action="/register">
  	<div class="12u$">
  		<div class="select-wrapper">
			Username:
			<input type="text" name="username">
			<br>
			Password:
			<input type="password" name="password">
			<br>
			<input type="submit" value="Register">
  		</div>
  	</div>
  </form>
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<!--
				<div class="image fit">
					<img "{{url_for('static', filename='styles/images/pic01.jpg')}}" alt=""/>
				</div>
					-->
				<div class="content">
					<header class="align-center">
						<h2>Bedtime Stories</h2>
						<p>
							<b>Created By: </b>
							Madonna's Pajamas (Jackie, Philip, Michela)
						</p>
					</header>
					<hr />
					Hello, and welcome to Bedtime Stories! Here, you play a virtual game of "telephone" in storytelling with other users. You may create a new story or contribute to existing stories. Stories have a beginning, but they don't have an end! When you contribute to a story, you will only be able to see the previous section, but once you submit, you will be able to see them all, including any entries made after you submitted. On the Home Page, you will find the links to all the stories you have already contributed to, and on the Discover Page, you will find the links to all the stories you have not yet contributed to. Get writing!
				</div>
			</div>
		</div>
	</section>
</body>
</html>

